gunicorn==19.9.0
sanic==0.8.3
sanic-jwt==1.2.1
Sanic-Cors==0.9.7
sanic-sentry==0.1.7
raven-aiohttp==0.7.0
python_json_logger==0.1.10
shortuuid==0.5.0
PyJWT==1.6.4
pytz==2018.7
pyArango==1.3.2
elastic-apm==4.0.1
elasticsearch==6.3.1
elasticsearch-dsl==6.3.0
bcrypt==3.1.4
Pillow==5.3.0
filetype==1.0.1
email-validator==1.0.2
pika==0.12.0
requests==2.20.0
pycurl==7.19.5.1 --global-option="--with-nss"
coverage
pylint
Faker==0.8.6
beautifulsoup4==4.6.0
utils==0.9.0
wget==3.2
google-images-download==2.3.0
